<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{${ajax} ? @{layouts/modal} : @{layouts/default}}" th:with="page='admin'">
<head>
    <title th:text="#{admin.accounts.password.title}"></title>
</head>
<body>
<div id="add-parent" class="container" layout:fragment="content">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{admin.accounts.password.title}"></h5>
            </div>
            <div class="modal-body">
                <div th:if="${success_msg}">
                    <div class="alert alert-info"><span th:text="#{${success_msg}}"></span></div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="newPassword" th:text="#{admin.accounts.password.middle}"></label>
                        <input type="text" id="newPassword" name="newPassword" class="form-control" th:placeholder="#{variable.password}" th:value="${newPassword}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="newPassword" th:text="#{admin.accounts.password.end}"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary d-none js-cancel" th:text="#{link.close}" data-js="triggerAreaLink" data-js-target="#list-parent"></button>
                <a class="btn btn-secondary js-cancel" th:href="@{/admin}" th:text="#{link.close}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>