<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{${ajax} ? @{layouts/modal} : @{layouts/default}}" th:with="page='admin'">
<head>
    <title th:text="#{admin_accounts_change_password_title}"></title>
</head>
<body>

<div id="password-parent" class="container" layout:fragment="content">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{admin_accounts_change_password_title}"></h5>
            </div>
            <form th:action="@{/admin/password/{id}(id=${subAccount.getId()})}" data-js='form' data-js-target="#password-parent" id="password-form" th:object="${passwordForm}" method="post">
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" th:text="#{admin_accounts_change_password_msg}"></div>

                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="confirmPassword" th:text="#{variable_old_password}"></label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:placeholder="#{variable_old_password}" th:value="*{confirmPassword}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary d-none js-cancel" data-dismiss="modal" th:text="#{link_cancel}"></button>
                    <a class="btn btn-secondary js-cancel" th:href="@{/admin}" th:text="#{link_cancel}"></a>
                    <button type="submit" class="btn btn-primary" th:text="#{link_delete}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>