<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<table class="table table-borderless">
    <thead class="d-none">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <th:block th:each="job : ${jobs}">
        <tr>
            <td class="pb-0 align-middle">
                <h6 class="mb-0">
                    <span th:text="${'#'+executor.getJob(job).getPersistentId()}"></span>: <span th:text="${executor.getJob(job).getWorkspace().getName()}"></span>
                    <span class="badge badge-primary" th:text="${job.getMessage()}"></span>
                </h6>
            </td>
            <td class="align-middle text-right pb-0">
                <span th:if="${job.isFinished()}" th:text="${job.getFormattedDuration()}"></span>
                <a th:unless="${job.isFinished()}" class="btn btn-primary btn-sm disabled" th:href="@{/dashboard/index/queue/{id}(id=${job.getId()})}" th:text="#{link.cancel}"></a>
            </td>
        </tr>
        <tr th:unless="${job.isFinished()}">
            <td class="pt-1" colspan="2">
                <div class="progress border-primary" style="border-style: solid; border-width: 1px; height: 30px">
                    <div class="progress-bar" role="progressbar" th:style="${'width: ' + job.getProgress() + '%'}"><span th:text="${ job.getProgress() + '%'}"></span></div>
                </div>
            </td>
        </tr>
    </th:block>
    <tr th:if="${jobs.empty}">
        <th>
            <span th:text="#{dashboard.queue.none}"></span>
        </th>
        <th></th>
    </tr>
    </tbody>
</table>
</body>
</html>