<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="img/ico" th:href="@{/img/icon.ico}" href="/img/icon.ico">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{nav.title}"></title>

    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css"  />
</head>

<body>

<div th:replace="fragments/header :: header" th:with="page=${page}"></div>

<div class="d-none">
    <div class="container" id="javascript-error-clone">
        <div class="row mb-2">
            <div class="col-12">
                <div class="alert alert-warning">

                </div>
            </div>
        </div>
        <div class="d-none">
            <div class="other">
                <span th:text="#{error.javascript}"></span> <span class="status-code"></span>
            </div>
            <span class="404" th:text="#{error.404}"></span>
            <span class="403" th:text="#{error.403}"></span>
            <span class="413" th:text="#{error.413}"></span>
            <span class="500" th:text="#{error.500}"></span>
        </div>
    </div>
</div>

<div id="javascript-error" class="container">

</div>

<main layout:fragment="content"></main>

<div th:replace="fragments/footer :: footer"></div>

<div id="modal-container">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Title</h5>
                </div>
                <div class="modal-body">
                    Contents
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{'/js/' + ${javascript}}"></script>
</body>
</html>
