<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/blank}">
<head>
    <title>Logout</title>
</head>
<body>
<main role="main" class="container" layout:fragment="content">
    <form class="form-login text-center">
        <div class="logo">
            <a class="" href="/">Sherlock</a>
        </div>
        <h1 class="h4 mb-4 text-muted">
            Logged Out
        </h1>

        <div class="mb-4" style="max-width: 250px">
            <p>You have been logged out, please click the button below to return to the homepage.</p>
        </div>

        <a class="btn btn-lg btn-primary btn-block" href="/">Return Home</a>
    </form>
</main>
</body>
</html>