<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layouts/default}"
      th:with="page='testUpload'">
<head>
    <title>Test File Upload Page</title>
</head>
<body>
<main role="main" class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Test Upload Form</h5>
                    <form method="POST" enctype="multipart/form-data" action="#">
                        <table>
                            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>