<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{${ajax} ? @{layouts/modal} : @{layouts/default}}" th:with="page='workspaces'">
<head>
    <title th:text="#{workspaces_page_add}"></title>
</head>
<body>

<div id="add-parent" class="container" layout:fragment="content">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{workspaces_page_add}"></h5>
            </div>
            <form th:action="@{/dashboard/workspaces/add}" data-js='form' data-js-target="#add-parent" th:object="${workspaceForm}" method="post">
                <div class="modal-body">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name" th:text="#{workspaces_variable_name}"></label>
                            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{workspaces_variable_name}" th:value="*{name}" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label  th:for="*{language}" th:text="#{variable_language}"></label>
                            <select class="form-control" th:field="*{language}">
                                <option th:each="language : ${T(uk.ac.warwick.dcs.sherlock.api.model.preprocessing.Language).values()}"
                                        th:value="${language}"
                                        th:text="${language}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary d-none js-cancel" data-dismiss="modal" th:text="#{link_cancel}"></button>
                    <a class="btn btn-secondary js-cancel" th:href="@{/dashboard/workspaces}" th:text="#{link_cancel}"></a>
                    <button type="submit" class="btn btn-primary" th:text="#{link_save}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>