<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<form th:action="@{/dashboard/workspaces/manage/name/{id}(id=${workspace.id})}" data-js='form' data-js-target="#name-parent" th:object="${workspaceNameForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="name" th:text="#{workspaces_variable_name}"></label>
            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{workspaces_variable_name}" th:value="*{name}" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary" th:text="#{link_update}"></button>
</form>

</body>
</html>