<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<form th:action="@{/account/password}" data-js='form' data-js-target="#password-parent" th:object="${passwordForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
    </div>

    <div th:if="${success_msg}">
        <div class="alert alert-info"><span th:text="#{${success_msg}}"></span></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="newPassword" th:text="#{variable_new_password}"></label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" th:placeholder="#{variable_new_password}" th:value="*{newPassword}" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="confirmPassword" th:text="#{variable_confirm_password}"></label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:placeholder="#{variable_confirm_password}" th:value="*{confirmPassword}" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="oldPassword" th:text="#{variable_old_password}"></label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" th:placeholder="#{variable_old_password}" th:value="*{oldPassword}" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary float-right" th:text="#{link_update}"></button>
        </div>
    </div>

</form>

</body>
</html>