<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<form th:action="@{/dashboard/workspaces/manage/jobs/{id}(id=${workspace.getId()})}" data-js='form' data-js-target="#jobs-parent" method="post">
    <div th:if="${templates.empty}">
        <h6 class="mb-0">
            <span th:text="#{workspaces_analysis_templates_none_msg}"></span>
        </h6>
    </div>

    <div th:if="${success}">
        <div class="alert alert-info"><span th:text="#{workspaces_analysis_started}"></span></div>
        <div data-js="triggerArea" data-js-target="#results-parent"></div>
    </div>

    <div th:unless="${templates.empty}">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="template_id" th:text="#{variable_template}"></label>
                <select class="form-control" id="template_id" name="template_id">
                    <option th:each="template : ${templates}"
                            th:value="${template.getTemplate().getId()}"
                            th:text="${template.getTemplate().getName()}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary float-right" th:text="#{link_run}"></button>
            </div>
        </div>
    </div>
</form>

</body>
</html>