<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<form th:action="@{/dashboard/workspaces/manage/name/{id}(id=${workspace.getId()})}" data-js='form' data-js-target="#name-parent" th:object="${workspaceForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
    </div>

    <div th:if="${success}">
        <div class="alert alert-info"><span th:text="#{workspaces_basic_updated_msg}"></span></div>
        <div data-js="triggerArea" data-js-target="#jobs-parent"></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="name" th:text="#{variable_name}"></label>
            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{variable_name}" th:value="*{name}" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label  th:for="*{language}" th:text="#{variable_language}"></label>
            <select class="form-control" th:field="*{language}">
                <option th:each="language : ${T(uk.ac.warwick.dcs.sherlock.api.model.preprocessing.Language).values()}"
                        th:value="${language}"
                        th:text="${language}">
                </option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary float-right" th:text="#{link_update}"></button>
        </div>
    </div>

</form>

</body>
</html>