<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<form th:action="@{/dashboard/workspaces/manage/{id}/run(id=${workspace.getId()})}" data-js='form' data-js-target="#run-parent" method="post">
    <div th:if="${templates.empty}">
        <h6 class="mb-0">
            <span th:text="#{workspaces.analysis.no_templates}"></span>
        </h6>
    </div>

    <div th:if="${success_msg}">
        <div class="alert alert-info"><span th:text="#{${success_msg}}"></span></div>
        <div data-js="triggerArea" data-js-target="#results-parent"></div>
    </div>

    <div th:if="${warning_msg}">
        <div class="alert alert-warning"><span th:text="#{${warning_msg}}"></span></div>
    </div>

    <div th:unless="${templates.empty}">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="template_id" th:text="#{variable.template}"></label>
                <select class="form-control" id="template_id" name="template_id">
                    <option th:if="${template.isOwner()}"
                            th:each="template : ${templates}"
                            th:value="${template.getTemplate().getId()}"
                            th:text="${template.getTemplate().getName()}">
                    </option>
                    <option th:unless="${template.isOwner()}"
                            th:each="template : ${templates}"
                            th:value="${template.getTemplate().getId()}"
                            th:text="${template.getTemplate().getName() + ' (' + template.getOwnerName()} + ')'">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary float-right" th:text="#{link.run}"></button>
            </div>
        </div>
    </div>
</form>

</body>
</html>