<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<table class="table table-hover table-borderless fixed-table" data-js="table">
    <thead class="d-none">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <th:block th:each="submission : ${workspace.getSubmissions()}">
        <tr>
            <th class="align-middle">
                <h6 class="mb-0">
                    <span th:text="${submission.getName()}"></span>
                </h6>
            </th>
            <td>
                <div class="btn-group btn-group-sm float-right">
                    <a type="button" class="btn btn-primary"
                       th:href="@{/dashboard/workspaces/manage/{id}/submission/{file_id}(id=${workspace.getId()},file_id=${submission.getId()})}"
                       th:text="#{link.view}"></a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           data-js='modal'
                           th:href="@{/dashboard/workspaces/manage/{id}/submission/{file_id}/delete(id=${workspace.getId()},file_id=${submission.getId()})}"
                           th:text="#{link.delete}"></a>
                    </div>
                </div>
            </td>
        </tr>
    </th:block>
    <tr th:if="${workspace.getSubmissions().empty}">
        <th>
            <h6 class="mb-0">
                <span th:text="#{workspaces.submissions.none}"></span>
            </h6>
        </th>
        <th></th>
    </tr>
    </tbody>
</table>

<div class="text-right mt-2">
    <a class="btn btn-primary" data-js='modal' th:href="@{/dashboard/workspaces/manage/{id}/submissions/upload(id=${workspace.getId()})}" th:text="#{workspaces.submissions.upload}"></a>
</div>

</body>
</html>