<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<h6 th:text="#{workspaces.submissions.upload}"></h6>
<form th:action="@{/dashboard/workspaces/manage/{id}/submissions(id=${workspace.getId()})}" th:object="${submissionsForm}" enctype="multipart/form-data" data-js='form' data-js-target="#submissions-parent" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
    </div>

    <div th:if="${success_msg}">
        <div class="alert alert-info"><span th:text="#{${success_msg}}"></span></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <input id="files" type="file" name="files" multiple>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary float-right" th:text="#{link.upload}"></button>
        </div>
    </div>
</form>


<h6 th:text="#{workspaces.submissions.existing}"></h6>

<table class="table table-hover table-borderless">
    <tbody>
    <th:block th:each="submission : ${workspace.getSubmissions()}">
        <tr>
            <th class="align-middle">
                <h6 class="mb-0">
                    <span th:text="${submission.getName()}"></span>
                </h6>
            </th>
            <td>
                <div class="btn-group btn-group-sm float-right">
                    <a type="button" class="btn btn-primary"
                       th:href="@{/dashboard/workspaces/manage/{id}/submission/{file_id}(id=${workspace.getId()},file_id=${submission.getId()})}"
                       th:text="#{link.view}"></a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           data-js='modal'
                           th:href="@{/dashboard/workspaces/manage/{id}/submission/{file_id}/delete(id=${workspace.getId()},file_id=${submission.getId()})}"
                           th:text="#{link.delete}"></a>
                    </div>
                </div>
            </td>
        </tr>
    </th:block>
    <tr th:if="${workspace.getFiles().empty}">
        <th>
            <h6 class="mb-0">
                <span th:text="#{workspaces.submissions.none}"></span>
            </h6>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>