<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<table class="table table-hover table-borderless">
    <tbody>
    <th:block th:each="workspace : ${workspaces}">
        <tr>
            <th class="align-middle">
                <h5 class="mb-0">
                    <span th:text="${workspace.name}"></span>
                </h5>
            </th>
            <td class="align-middle">
                <!--Year-->
            </td>
            <td class="align-middle text-right">
                <a class="btn btn-primary btn-sm" th:href="@{/dashboard/workspaces/manage/{id}(id=${workspace.id})}" th:text="#{link_manage}"></a>
            </td>
        </tr>
    </th:block>
    <tr th:if="${workspaces.empty}">
        <th>
            <h5 class="mb-0">
                <span th:text="#{workspaces_message_no_workspaces}"></span>
            </h5>
        </th>
    </tr>
    </tbody>
</table>

</body>
</html>