<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}" th:with="page='workspaces'">
<head>
    <title th:text="#{submissions.view.title}"></title>
</head>
<body>

<main role="main" class="container" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="float-left mt-1">
                        <span th:text="#{submissions.view.title}"></span>
                        <a class="btn btn-sm btn-outline-primary" th:href="@{/dashboard/workspaces/manage/{id}(id=${workspace.getId()})}" th:text="#{workspaces.manage.return}"></a>
                    </h4>
                    <div class="btn-toolbar float-right">
                        <div class="btn-group">
                            <div class="btn-group">
                                <a class="btn btn-primary" data-js='modal' th:href="@{/dashboard/workspaces/manage/{id}/submission/{file_id}/delete(id=${workspace.getId()},file_id=${submission.getId()})}" th:text="#{link.delete}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordion">
                        <th:block th:each="file : ${submission.getAllFiles()}">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="'#id' + ${file.getPersistentId()}">
                                            <span th:text="${file.getFileDisplayPath()}"></span>
                                        </button>
                                    </h2>
                                </div>

                                <div th:id="'id' + ${file.getPersistentId()}" class="collapse">
                                    <div class="card-body">
                                        <div class="text-right mb-3">
                                            <a class="btn btn-primary"
                                               th:text="#{link.download}" th:download="${file.getFileDisplayName()}"
                                               th:href="@{/dashboard/workspaces/manage/{id}/submission/{submission_id}/file/{file_id}/{file_name}(id=${workspace.getId()},submission_id=${submission.getId()},file_id=${file.getPersistentId()},file_name=${file.getFileIdentifier()})}"></a>
                                            <a class="btn btn-primary"
                                               th:if="${submission.getAllFiles().size() > 1}"
                                               th:text="#{link.delete}" data-js='modal'
                                               th:href="@{/dashboard/workspaces/manage/{id}/submission/{submission_id}/file/{file_id}/{file_name}/delete(id=${workspace.getId()},submission_id=${submission.getId()},file_id=${file.getPersistentId()},file_name=${file.getFileIdentifier()})}"></a>
                                        </div>

                                        <pre class="line-numbers"
                                        th:data-src="@{/dashboard/workspaces/manage/{id}/submission/{submission_id}/file/{file_id}/{file_name}(id=${workspace.getId()},submission_id=${submission.getId()},file_id=${file.getPersistentId()},file_name=${file.getFileIdentifier()})}"></pre>
                                </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>