<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/blank}">
<head>
    <title th:text="#{error.title}"></title>
</head>
<body>
<main role="main" class="container" layout:fragment="content">
    <form class="form-login text-center" th:action="@{/login}" method="post">
        <div class="logo">
            <a class="" th:href="@{/}">
                <img th:src="@{/img/logo-100.png}">
            </a>
        </div>
        <h1 class="h4 mb-4 text-muted" th:text="#{error.title}"></h1>

        <th:block th:if="${msg}">
            <div class="alert alert-danger"><span th:text="#{''+${msg}}"></span></div>
        </th:block>
        <th:block th:unless="${msg}">
            <div class="alert alert-danger"><span th:text="#{'error.404'}"></span></div>
        </th:block>
    </form>
</main>
</body>
</html>