<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{${ajax} ? @{layouts/modal} : @{layouts/default}}" th:with="page='templates'">
<head>
    <title th:text="#{templates_add_title}"></title>
</head>
<body>
<div id="add-parent" class="container" layout:fragment="content">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{templates_add_title}"></h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/dashboard/templates/add}" data-js='form' data-js-target="#add-parent" id="add-form" th:object="${templateForm}" method="post">
                    <div th:if="${#fields.hasAnyErrors()}">
                        <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name" th:text="#{variable_name}"></label>
                            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{variable_name}" th:value="*{name}" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label  th:for="*{language}" th:text="#{variable_language}"></label>
                            <select class="form-control" th:field="*{language}" data-js="select" data-js-target="#detector-list" th:data-js-href="@{/dashboard/templates/detectors/}">
                                <option th:each="language : ${T(uk.ac.warwick.dcs.sherlock.api.model.preprocessing.Language).values()}"
                                        th:value="${language}"
                                        th:text="${language}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <label th:text="#{variable_detectors}"></label>
                        </div>
                    </div>

                    <div id="detector-list">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <th:block th:each="detector : ${detectorList}">
                                    <label class="checkbox-inline" th:for="${detector.getClassName()}">
                                        <input type="checkbox" th:field="*{detectors}" th:value="${detector.getClassName()}" th:id="${detector.getClassName()}">
                                        <span th:text="${detector.getDisplayName()}"></span>
                                        <span
                                                th:if="${detector.getDescription().length() > 0}"
                                                th:text="#{message_description}"
                                                data-toggle="tooltip" data-placement="top"
                                                th:title="${detector.getDescription()}"
                                        ></span>
                                    </label> <br />
                                </th:block>
                                <span th:if="${detectorList.empty}" th:text="#{templates_basic_detectors_none_msg}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <label th:text="#{variable_public}"></label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="isPublic">
                                <input type="checkbox" name="isPublic" id="isPublic" th:value="*{isPublic}" />
                                <span th:text="#{variable_public_msg}"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary d-none js-cancel" data-dismiss="modal" th:text="#{link_cancel}"></button>
                <a class="btn btn-secondary js-cancel" th:href="@{/dashboard/templates}" th:text="#{link_cancel}"></a>
                <button class="btn btn-primary" data-js="formSubmit" data-js-target="#add-form" th:text="#{link_save}"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>