<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default}" th:with="page='templates'">
<head>
    <title th:text="#{templates_title}"></title>
</head>
<body>
<main role="main" class="container" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="float-left mt-1" th:text="#{templates_title}"></h4>
                    <div class="btn-toolbar float-right">
                        <div class="btn-group mr-3remove">
                            <a class="btn btn-primary" data-js="modal" th:href="@{/dashboard/templates/add}" th:text="#{link_add}"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div th:replace="fragments/js-area :: js-area(areaid='list-parent', arealink=@{/dashboard/templates/list})"></div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>