<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title></title>
</head>
<body>

<div th:fragment="form-fragment">
    <form th:action="@{/dashboard/templates/manage/{id}/details(id=${template.getTemplate().getId()})}" data-js='form' data-js-target="#details-parent" id="add-form" th:object="${templateForm}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
            <div class="alert alert-warning" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</div>
        </div>

        <div th:if="${success_msg}">
            <div class="alert alert-info"><span th:text="#{${success_msg}}"></span></div>
            <div data-js="triggerArea" data-js-target="#detectors-parent"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name" th:text="#{variable.name}"></label>
                <input type="text" class="form-control" th:disabled="${!template.isOwner() ? true : false}" id="name" name="name" th:placeholder="#{variable.name}" th:value="*{name}" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label  th:for="*{language}" th:text="#{variable.language}"></label>
                <select class="form-control" th:disabled="${!template.isOwner() ? true : false}" th:field="*{language}" data-js="select" data-js-target="#detector-list" th:data-js-href="@{/dashboard/templates/detectors/}">
                    <option th:each="language : ${languageList}"
                            th:value="${language}"
                            th:text="${language}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                <label th:text="#{variable.detectors}"></label>
            </div>
        </div>

        <div id="detector-list">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <th:block th:each="detector : ${detectorList}">
                        <label class="checkbox-inline" th:for="${detector.getClassName()}">
                            <input type="checkbox"  th:disabled="${!template.isOwner() ? true : false}" th:field="*{detectors}" th:value="${detector.getClassName()}" th:id="${detector.getClassName()}">
                            <span th:text="${detector.getDisplayName()}"></span>
                            <span
                                    th:if="${detector.getDescription().length() > 0}"
                                    th:text="#{tooltip}"
                                    data-toggle="tooltip" data-placement="top"
                                    th:title="${detector.getDescription()}"
                            ></span>
                        </label> <br />
                    </th:block>
                    <span th:if="${detectorList.empty}" th:text="#{templates.no_detectors}"></span>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated() && !hasAuthority('LOCAL_USER')">
            <div class="form-row">
                <div class="form-group col-md-12 mb-0">
                    <label th:text="#{variable.public}"></label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="isPublic">
                        <input type="checkbox" th:disabled="${!template.isOwner() ? true : false}" name="isPublic" id="isPublic" th:checked="*{isPublic}" />
                        <span th:text="#{variable.public_msg}"></span>
                    </label>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated() && hasAuthority('LOCAL_USER')">
            <input type="checkbox" class="invisible" name="isPublic" id="isPublic" th:checked="*{isPublic}" />
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button th:if="${template.isOwner()}" type="submit" id="update" class="btn btn-primary float-right" th:text="#{link.update}"></button>
            </div>
        </div>
    </form>
</div>

</body>
</html>