<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<table class="table table-hover table-borderless" data-js="table">
    <thead class="d-none">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="template : ${templates}">
            <tr>
                <th class="align-middle">
                    <h5 class="mb-0">
                        <span th:text="${template.getTemplate().getName()}"></span>
                        <span th:if="${template.isPublic() && template.isOwner()}" class="badge badge-primary">
                            <span th:text="#{templates.public}"></span>
                        </span>
                        <span th:if="${!template.isOwner()}" class="badge badge-primary">
                            <span th:text="#{templates.creator}"></span> <span th:text="${template.getOwnerName()}"></span>
                        </span>
                    </h5>
                </th>
                <td class="align-middle text-right">
                    <a class="btn btn-primary btn-sm" th:href="@{/dashboard/templates/manage/{id}(id=${template.getTemplate().getId()})}" th:text="#{link.manage}"></a>
                </td>
            </tr>
        </th:block>
        <tr th:if="${templates.empty}">
            <th>
                <h5 class="mb-0">
                    <span th:text="#{templates.none}"></span>
                </h5>
            </th>
        </tr>
    </tbody>
</table>

</body>
</html>