
#loadingIndicator .percentage{
	-fx-fill: #ffffff ;
}
#title{
	-fx-pref-width: 150px;	
	-fx-pref-height: 70px;
	-fx-background-color: #0b0c10;
	-fx-text-fill: #007e50;
	
}
#titlePane{
}
#vbox{
	-fx-pref-width: 100%;
	-fx-background-color: #0b0c10;
}
.navigationButtons {
	-fx-border-width: 1px;
	-fx-border-color: #007e50;
	-fx-pref-width: 150px;
	-fx-pref-height: 50px;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: #c5c6c7;
	-fx-background-color: #0b0c10;
}
.sep *.line { 
-fx-border-style: solid;
-fx-border-color: #007e50;
-fx-border-width: 1px;

}